In [1]:
import numpy as np
import pandas as pd
import joblib

ModuleNotFoundError: No module named 'numpy'

In [ ]:
df = pd.read_csv('diabetes.csv')

In [ ]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.shape

(768, 9)

In [ ]:
df.head(20)

    Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0             6      148             72  ...                     0.627   50        1
1             1       85             66  ...                     0.351   31        0
2             8      183             64  ...                     0.672   32        1
3             1       89             66  ...                     0.167   21        0
4             0      137             40  ...                     2.288   33        1
5             5      116             74  ...                     0.201   30        0
6             3       78             50  ...                     0.248   26        1
7            10      115              0  ...                     0.134   29        0
8             2      197             70  ...                     0.158   53        1
9             8      125             96  ...                     0.232   54        1
10            4      110             92  ...                     0.191   30        0
11           10      168             74  ...                     0.537   34        1
12           10      139             80  ...                     1.441   57        0
13            1      189             60  ...                     0.398   59        1
14            5      166             72  ...                     0.587   51        1
15            7      100              0  ...                     0.484   32        1
16            0      118             84  ...                     0.551   31        1
17            7      107             74  ...                     0.254   31        1
18            1      103             30  ...                     0.183   33        0
19            1      115             70  ...                     0.529   32        1

[20 rows x 9 columns]

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
df.drop(['SkinThickness', 'Insulin'], axis=1, inplace=True)

In [ ]:
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 7 columns]

In [ ]:
df['Glucose'].replace(0, np.nan, inplace=True)
df['BMI'].replace(0, np.nan, inplace=True)
df['BloodPressure'].replace(0, np.nan, inplace=True)

In [ ]:
df.head(20)

    Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0             6    148.0           72.0  ...                     0.627   50        1
1             1     85.0           66.0  ...                     0.351   31        0
2             8    183.0           64.0  ...                     0.672   32        1
3             1     89.0           66.0  ...                     0.167   21        0
4             0    137.0           40.0  ...                     2.288   33        1
5             5    116.0           74.0  ...                     0.201   30        0
6             3     78.0           50.0  ...                     0.248   26        1
7            10    115.0            NaN  ...                     0.134   29        0
8             2    197.0           70.0  ...                     0.158   53        1
9             8    125.0           96.0  ...                     0.232   54        1
10            4    110.0           92.0  ...                     0.191   30        0
11           10    168.0           74.0  ...                     0.537   34        1
12           10    139.0           80.0  ...                     1.441   57        0
13            1    189.0           60.0  ...                     0.398   59        1
14            5    166.0           72.0  ...                     0.587   51        1
15            7    100.0            NaN  ...                     0.484   32        1
16            0    118.0           84.0  ...                     0.551   31        1
17            7    107.0           74.0  ...                     0.254   31        1
18            1    103.0           30.0  ...                     0.183   33        0
19            1    115.0           70.0  ...                     0.529   32        1

[20 rows x 7 columns]

In [ ]:
df.dropna(axis=0, inplace=True)

In [ ]:
df.shape

(724, 7)

In [ ]:
cols = ['Pregnancies', 'Glucose', 'BloodPressure', 'BMI',
       'DiabetesPedigreeFunction', 'Age', 'Outcome']

In [ ]:
df_balanced = df[cols]

In [ ]:
df_balanced

     Pregnancies  Glucose  ...  Age  Outcome
0              6    148.0  ...   50        1
1              1     85.0  ...   31        0
2              8    183.0  ...   32        1
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
..           ...      ...  ...  ...      ...
763           10    101.0  ...   63        0
764            2    122.0  ...   27        0
765            5    121.0  ...   30        0
766            1    126.0  ...   47        1
767            1     93.0  ...   23        0

[724 rows x 7 columns]

In [ ]:
y = df_balanced['Outcome']

In [ ]:
X = df_balanced.drop('Outcome', axis=1)

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=40)

In [ ]:
X_train

     Pregnancies  Glucose  BloodPressure   BMI  DiabetesPedigreeFunction  Age
114            7    160.0           54.0  30.5                     0.588   39
756            7    137.0           90.0  32.0                     0.391   39
356            1    125.0           50.0  33.3                     0.962   28
449            0    120.0           74.0  30.5                     0.285   26
395            2    127.0           58.0  27.7                     1.600   25
..           ...      ...            ...   ...                       ...  ...
469            6    154.0           78.0  46.1                     0.571   27
175            8    179.0           72.0  32.7                     0.719   36
8              2    197.0           70.0  30.5                     0.158   53
232            1     79.0           80.0  25.4                     0.583   22
346            1    139.0           46.0  28.7                     0.654   22

[579 rows x 6 columns]

In [ ]:
X_test

     Pregnancies  Glucose  BloodPressure   BMI  DiabetesPedigreeFunction  Age
280            0    146.0           70.0  37.9                     0.334   28
149            2     90.0           70.0  27.3                     0.085   22
18             1    103.0           30.0  43.3                     0.183   33
156            2     99.0           52.0  24.6                     0.637   21
329            6    105.0           70.0  30.8                     0.122   37
..           ...      ...            ...   ...                       ...  ...
514            3     99.0           54.0  25.6                     0.154   24
163            2    100.0           64.0  29.7                     0.368   21
192            7    159.0           66.0  30.4                     0.383   36
338            9    152.0           78.0  34.2                     0.893   33
167            4    120.0           68.0  29.6                     0.709   34

[145 rows x 6 columns]

In [ ]:
y_train

114    1
756    0
356    1
449    0
395    0
      ..
469    0
175    1
8      1
232    0
346    0
Name: Outcome, Length: 579, dtype: int64

In [ ]:
y_test

280    1
149    0
18     0
156    0
329    0
      ..
514    0
163    0
192    1
338    1
167    0
Name: Outcome, Length: 145, dtype: int64

In [ ]:
from sklearn.ensemble import RandomForestClassifier

In [ ]:
model = RandomForestClassifier()

In [ ]:
model.fit(X_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = model.predict(X_test)

In [ ]:
y_pred

array([0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0])

In [ ]:
compare_data = pd.DataFrame(y_pred, columns=['y_pred'])

In [ ]:
y_test = np.array(y_test)

In [ ]:
compare_data['y_test'] = pd.DataFrame(y_test)

In [ ]:
compare_data

     y_pred  y_test
0         0       1
1         0       0
2         0       0
3         0       0
4         0       0
..      ...     ...
140       0       0
141       0       0
142       1       1
143       1       1
144       0       0

[145 rows x 2 columns]

In [ ]:
from sklearn.metrics import accuracy_score, confusion_matrix

In [ ]:
print('Accuracy : {}'.format(accuracy_score(y_test,y_pred)))

Accuracy : 0.8206896551724138

In [38]:
confusion_matrix(y_test,y_pred)

array([[90, 12],
       [14, 29]])

In [ ]:
joblib.dump(model,r"F:\Project\HealthApp\Diabetes_API\diabetes_model.pkl")

['F:\\Project\\HealthApp\\Diabetes_API\\diabetes_model.pkl']